.feed {
  width: 66.7%;
  height: fit-content;
  display: flex;
  border: 5px solid rgba(0, 0, 0, 1);
  padding: 20px 5px 5px;
  margin-top: 50px;
  padding-bottom: 15px;
  flex-direction: column;
  flex-wrap: wrap;
  background-size: cover;
  justify-content: center;
  box-shadow: 0px 8px 32px 8px rgba(0,0,0,0.35);
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  align-items: center;
  align-self: center;
  z-index: 2;
}

.nbuttonContainer {
  display: flex;
  position: relative;
  top: 14%;
  left: -1%;
  padding-left: 0;
  margin-left: 0;
  
  
}

@media only screen and (min-width: 1280px) {
  .feed {
    width: 80%;
  }
}


.body {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  padding-top: 350px;
  position: absolute;
  top: 0;
  z-index: 0;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switch {
  width: 75%;
  height: 200px;
  z-index: -1;
  position: absolute;
  top: 15.5%;
  caret-color: transparent!important;

}

.buttonLabelDiv2 {
  position: absolute;
  cursor: pointer;
  height: 120px;
  width: 200px;
  overflow: visible;
  padding: 0;
  top: -30px;
  left: 16%;
  filter:drop-shadow(1px 2px 5px black);
}

.buttonLabelDiv2 span {
  z-index: 7;
  user-select: none;
  position: relative;
  left: 32.5%;
  top: 40%;
  letter-spacing: 1px;
  font-size: 1.35em;
  font-family: 'watermelondays'
}

.buttonLabelDiv:hover span {
  -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 248, 248, .5);
}

.buttonLabelDiv:active {
  filter:drop-shadow(1px 2px 5px rgb(150, 148, 148));
}

.buttonLabelDiv2:hover span {
  -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 248, 248, .5);
}

.buttonLabelDiv2:active {
  filter:drop-shadow(1px 2px 5px rgb(150, 148, 148));
}

.buttonLabelDiv3 {
  position: absolute;
  cursor: pointer;
  height: 120px;
  width: 200px;
  overflow: visible;
  padding: 0;
  top: -30px;
  left: 6.5%;
  z-index: 10;
  filter:drop-shadow(1px 2px 5px black);
}

.buttonLabelDiv3 span {
  z-index: 7;
  text-decoration: line-through;
  user-select: none;
  position: relative;
  left: 26.5%;
  top: 40%;
  font-size: 1.3em;
  font-family: 'watermelondays'
}

.buttonLabelDiv3:hover span {
  -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 248, 248, .5);
}

.buttonLabelDiv3:active {
  filter:drop-shadow(1px 2px 5px rgb(150, 148, 148));
}

div.autorefreshoptions {
  position: relative;
  cursor: pointer;
  top: -40px;
  left: 9.3%;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 15px;
  width: 105px;
  justify-content: space-evenly;
  overflow: hidden;
  padding: 0px 5px;
  background-color: #d7d4ce;
  height: 35px;
  filter:drop-shadow(1px 2px 5px black);
  z-index: 99;
}

div.autorefreshoptions:hover {
  filter:drop-shadow(1px 1px 5px rgb(255, 208, 0))
}

.autorefreshoptions div {
  border: 1px solid black;
  cursor: pointer;
  z-index: 10;
}


.autorefreshoptions span {
  font-family: 'watermelondays';
  font-size: 1.3rem;
  text-decoration: line-through;
}

div.auto1 {
  display: flex;
}

div.auto2 {
  display: flex;
}


div.auto3 {
  display: flex;
}

input#demo {
  display: none;
}

input#demo2 {
  display: none;
}


input#demo3 {
  display: none;
}

#demo:checked ~ label  {
  background-color: rgba(191,77,40,.4);
  border: 2px solid rgba(191,77,40,.45);
}

#demo2:checked + label {
  background-color: rgba(191,77,40,.4);
  border: 2px solid rgba(191,77,40,.45);
}

#demo3:checked + label {
  background-color: rgba(191,77,40,.4);
  border: 2px solid rgba(191,77,40,.45);
}

.auto1 span {
  white-space: nowrap;
}


.auto2 span {
  white-space: nowrap;
}



.auto3 span {
  white-space: nowrap;
}

label.a1label {
  border: 1px solid rgb(255, 255, 255);
  z-index: 88888;
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  padding: 8px;
}

label.a2label {
  border: 1px solid rgb(255, 255, 255);
  z-index: 88888;
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  padding: 8px;
}

label.a3label {
  border: 1px solid rgb(255, 255, 255);
  z-index: 88888;
  position: relative;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  padding: 8px 6px 8px;
}



