@font-face {
  font-family: 'lemonpieregular';
  src: url('../assets/lemonpie-webfont.woff2') format('woff2'),
       url('../assets/lemonpie-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Retro Computer';
  src: url('../assets/RetroComputer.woff2') format('woff2'),
      url('../assets/RetroComputer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'candy_beansregular';
  src: url('../assets/candy_beans-webfont.woff2') format('woff2'),
       url('../assets/candy_beans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'lemonpieregular', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'candy_beansregular' , 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
