
.buttonLabelDiv span {
  z-index: 7;
  user-select: none;
  position: relative;
  left: 29%;
  top: 40%;
  font-size: 1.3rem;
  font-family: 'watermelondays'
}

.buttonLabelDiv strong {
  font-weight: normal;
}

.buttonLabelDiv {
  position: absolute;
  cursor: pointer;
  height: 120px;
  width: 200px;
  overflow: visible;
  padding: 0;
  top: -30px;
  left: -3%;
  filter:drop-shadow(1px 2px 5px black);
}

