


.nbuttonContainer {
  display: flex;
  position: relative;
  top: 14%;
  left: -1%;
  padding-left: 0;
  margin-left: 0;
  
  
}

.buttonLabelDiv span {
  z-index: 7;
  user-select: none;
  position: relative;
  left: 29%;
  top: 40%;
  font-size: 1.3rem;
  font-family: 'watermelondays'
}

.buttonLabelDiv strong {
  font-weight: normal;
}

.buttonLabelDiv {
  position: absolute;
  cursor: pointer;
  height: 120px;
  width: 200px;
  overflow: visible;
  padding: 0;
  top: -30px;
  left: -3%;
  filter:drop-shadow(1px 2px 5px black);
}

.buttonLabelDiv:hover span {
  -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(255, 248, 248, .5);
}

.buttonLabelDiv:active {
  filter:drop-shadow(1px 2px 5px rgb(150, 148, 148));
}
