.row {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 10px;
    justify-content: space-evenly;
  }


  @media only screen and (max-width: 1280px)  {
    .module {
      width: 500px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .scroll {
      max-width: 310px;
      height: 90px;
    }

  
      .bigPlayButtonTrue {
        left: -48.5px;
        transition: height .2s linear;
        transition: width .1s linear;
      }
    
      .bigPlayButtonFalse {
        left: -48.5px;
        transition: height .05s linear;
        transition: width .05s linear;
      }
    
    

      .stats-info {
        white-space: nowrap;
      }

      .bigstat {
        position: absolute;
        left: 6px;
        transition: left .05s linear;
      }

      .stats-left:hover > .bigstat {
        left: 6.3px;
        position: absolute;
        transition: left .05s linear;
      }


      .stats-right {
        max-width: 70%;
      }

      .stats-left {
        min-width: 20%;
        max-width: 30%;
      }
    
      .stats {
        gap: 0px;
        max-width: 80%;
        margin: 0;
        justify-content: center;
        padding: 0;
      }
    }


  
.module {
    border: 4px solid rgb(0, 0, 0);
    width: 400px;
    height: 810px;
    background-color: #A8DBA8;
    border-radius: 20px;
    caret-color: transparent!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    cursor: pointer;
    box-shadow: inset 0 2px 5px 1px #807e7e, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  }


  .mainModuleSearchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 80%;
  }

  .module:hover .swordImg  {
    filter:drop-shadow(1px 5px 25px rgb(255, 208, 0));
    transition: filter 0.1s linear;
  }

  .module:hover .swordFlipped {
    filter:drop-shadow(1px 5px 25px rgb(255, 208, 0));
    transition: filter 0.1s linear;
  }

  .scrollcontainer2:hover .scroll2 {
    filter:drop-shadow(1px 5px 20px rgb(255, 208, 0));
    transition: filter 0.1s linear;
  }

  .searchInputContainer:hover .scroll2 {
    filter:drop-shadow(1px 5px 20px rgb(255, 208, 0));
    transition: filter 0.1s linear;
  }

  .searchInputContainer:hover .search {
    caret-color: black;
  }
  
  .searchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }


  .searchInputContainer {
    height: auto;
    position: relative;
    width: 50%;
    z-index: 3;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    caret-color: darkslategrey!important;
  }

  .searchInputContainer input {
    width: 100%;
    position: relative;
    height: 50px;
    text-align: center;
    background-color: transparent;
    z-index: 3;
    outline: none;
    border: none;
    font-family: 'watermelondays';
    font-size: 1.3rem;
    color: darkslategrey;
    text-decoration: underline;
  }

  .searchSubmitContainer {
    z-index: 3;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 57.5%;
    height: auto;
  }

  .searchButtonDiv {
    z-index: 3;
    cursor: pointer;
    position: absolute;
    top: 32.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
  }

  .searchSubmitContainer input {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    width: 100%;
    border: none;
    font-family: 'candy_beansregular';
    padding: 5px;
    height: 32.5px;
  }


  .searchSubmitContainer span {
    position: absolute;
    bottom: 32.5px;
    -webkit-text-stroke: 0.5px;
    font-size: 1.3rem;
    padding-bottom: 2.5px;
    font-family: 'candy_beansregular';
    color: #0B486B;
    -webkit-text-stroke-color: rgb(213,195,149);
  }


  .searchSubmitContainer:hover span {
    color: rgb(255, 208, 0);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }

  .searchSubmitContainer:hover img {
    width: 315px;
    transition: width 0.05s linear;
  }

  .info {
    display: flex;
    position: relative;
    
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    border-bottom: 2px solid #000000;
    width: 100%;
    padding: 10px 0 25px;
    overflow: hidden;
    height: 42.5%;
   }

   .bottom {
    height: 71.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    line-height: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 2px 5px 1px #807e7e, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
   }

  .moduleImg > img {
    border: 1px solid black;
  }

  .moduleImg {
    border: 1px solid black;
    height: 120px;
    user-select: none!important;
    width: 120px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: grey;
    filter:drop-shadow(1px 5px 12px rgb(0, 0, 0));
  }

  .moduleImg:hover {
    filter:drop-shadow(1px 5px 15px rgb(255, 208, 0)) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
  }


  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    gap: 100px;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 10px 5px;
    border-bottom: 1px DOTTED rgba(0, 0, 0, .5);
    position: relative;
  }

  .stats:hover {
    border-bottom: 2px DOTTED rgb(255, 255, 255);
  }

  .nameContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrollcontainer {
    user-select: none;
    position: absolute;
  }

  .scroll {
    filter:drop-shadow(1px 5px 10px black) ;
    width: 375px;
    user-select: none;
    height: 110px;
    transition: filter 0.2s ease-out;
  }

  .scrollcontainer2 {
    position: absolute;
    z-index: 1;
    bottom: -25px;
  }

  .scroll2 {
    width: 300px;
    height: 100px;
    filter:drop-shadow(1px 5px 10px black);
  }

  .submitPlayButtonDiv {
    position: absolute;
    z-index: 1;
    bottom: -50x;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .submitPlayButton {
    width: 300px;
    height: 100px;
    filter:drop-shadow(1px 2px 1px black) ;
  }

  .nameContainer:hover .scroll {
    filter:drop-shadow(1px 5px 20px rgb(255, 208, 0));
        transition: filter 0.1s linear;
  }

  .nameContainer:hover .cname {
    font-size: 2.7rem;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
    transition: font-size .2s ease-in;
    transition: -webkit-text-stroke-color .1s linear;
  }


  .nameContainer:hover .cname1 {
    font-size: 2.2rem;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
    transition: font-size .2s ease-in;
    transition: -webkit-text-stroke-color .1s linear;
  }

  .nameContainer:hover .cname2 {
    font-size: 1.85rem;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
    transition: font-size .2s ease-in;
    transition: -webkit-text-stroke-color .1s linear;
  }

  

  .cname {
    white-space: nowrap;
    text-align: center;
    font-family:'watermelondays';
    user-select: text;
    padding: 15px 0 0;
    font-size: 2.6rem;
    color: rgb(0, 0, 0);
    letter-spacing: 1.6px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, .7);
  }

.cname1 {
  white-space: nowrap;
  text-align: center;
  font-family:'watermelondays';
  padding: 15px 0 0;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  letter-spacing: 1.6px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, .7);
}


.cname2 {
  white-space: nowrap;
  text-align: center;
  font-family:'watermelondays';
  padding: 15px 0 0;
  font-size: 1.7rem;
  color: rgb(0, 0, 0);
  letter-spacing: 1.6px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, .7);
}


.name {
  z-index: 100;
  width: 50%;
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.stats-info {
  font-family: 'candy_beansregular';
  font-size: 1.125rem;
  z-index: 200;
  -webkit-text-stroke: 1px;
  position: relative;
  color: #0B486B;
  -webkit-text-stroke-color: rgb(213,195,149);
}

.swordDiv {
  margin: 15px 0;
}

 .swordImg {
  filter:drop-shadow(1px 5px 10px black);
  transition: filter 0.1s linear;
  
 }

 .swordFlipped {
  transform: scaleX(-1);
  transition: filter 0.1s linear;
  filter:drop-shadow(1px 5px 10px black);
 }


 .stats-left {
  
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .stats-right {
  width: 70%;
  justify-content: center;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
 }

 .controls {
    display: flex;
    cursor: default;
    
    flex-direction: row;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,.5);
    align-items: center;
    width: 90%;
    height: 15%;
    justify-content: space-evenly;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 3px 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(205,215,182, 1);
 }

.osdiv, .esdiv {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  filter:drop-shadow(1px 2px 1px rgba(0, 0, 0, .3));
  cursor: pointer;
 }

.nerddiv {
  filter:drop-shadow(1px 2px 1px rgba(0, 0, 0, .3));
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: rgba(85, 85, 84, 0.2);
  cursor: pointer;
}

.osdiv:hover, .esdiv:hover, .nerddiv:hover {
  border: 1px solid rgba(0, 0, 0, 1);
}

 #bigVal {
  padding-left: 5px;
  white-space: nowrap;
 }


 .stats-val {
  z-index: 100;

  font-size: 1.3rem;
  font-family: 'candy_beansregular';
  letter-spacing: 2px;
  -webkit-text-stroke: 1px;
  color: rgba(0, 0, 0, 0.67);
  transition: font-size 0.1s linear;
  -webkit-text-fill-color: rgb(219, 132, 212);
 }

 .bigPlayButtonTrue {
  width: 210px;
  height: 90px;
  padding-top: 2px;
  position: absolute;
  transition: height .2s linear;
  transition: width .1s linear;
  cursor:pointer;
  filter:drop-shadow(1px 2px 1px black);
 }

 .bigPlayButtonFalse {
  width: 200px;
  height: 70px;
  padding-top: 2px;
  cursor:pointer;
  position: absolute;
  transition: height .05s linear;
  transition: width .05s linear;
  filter:drop-shadow(1px 2px 1px black);
 }

 .playButtonHoverFalse {
  width: 120px;
  height: 70px;
  cursor:pointer;
  padding-top: 2px;
  position: absolute;
  transition: heigh width 2s;
  filter:drop-shadow(1px 2px 1px black);
           
 }

 .playButtonHoverTrue {
  width: 150px;
  height: 90px;
  padding-top: 2px;
  cursor:pointer;
  position: absolute;
  transition: height .2s linear;
  transition: width .1s linear;
  filter:drop-shadow(1px 2px 1px black);
           
 }


 .bmo {
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 2px;
  position: absolute;
  top: -6px;
  filter:drop-shadow(1px 2px 3px rgba(216, 211, 211,.3)) 
           drop-shadow(-1px -1px 0 rgba(228, 228, 228, .3));
 }

.stats:hover .bmo {
  border: 2px dotted rgb(255, 255, 255);
}

.stats:hover .stats-val {
  font-size: 1.6rem;
  transition: font-size 0.1s linear;
}

#floorprice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.eth {
  color: #1f1d1d;
  filter:drop-shadow(1px 1px 3px rgb(167, 170, 7)) ;
}

.loadingScreen1 {
  opacity: 0.1;
  transition: opacity 0.5s ease-in;
}

.loadingScreen2 {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.loadingScreen3 {
  opacity: 0.05;
  transition: opacity 0.3s ease-out;
}

.deleteButtonDiv {
  user-select: none!important;
  position: absolute;
  left: 27.5px;
  top: 30px;
  filter:drop-shadow(1px 1px 5px rgb(0, 0, 0)) 
           drop-shadow(-1px -1px 0 rgba(228, 228, 228, .3));
}

.deleteButtonDiv img {
  filter: grayscale(80%);
  -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
         -ms-transition: all 0.2s linear;
                transition: all 0.2s linear;
}

.deleteButtonDiv:hover > img {
  filter: grayscale(0%);
  transform: rotate(-10deg);
  
}

