.row {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 10px;
    justify-content: space-evenly;
  }
  
.module {
    border: 4px solid rgb(0, 0, 0);
    width: 375px;
    background-color: #A8DBA8;
    height: 750px;
    border-radius: 20px;
    caret-color: transparent!important;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    box-shadow: inset 0 4px 7px 1px #d8d8d8, inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14), 0 10px 20px rgba(0, 21, 64, 0.05);
  }

  .info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    border-bottom: 2px solid #000000;
    width: 100%;
    padding: 10px 0 25px;
    overflow: hidden;
    height: 42.5%;
   }

   .bottom {
    height: 71.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0;
    line-height: 1px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 4px 7px 1px rgba(255, 255, 255, .25);
   }

  .moduleImg > img {
    border: 1px solid black;
  }

  .moduleImg {
    border: 1px solid black;
    height: 120px;
    width: 120px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: grey;
    box-shadow: 0px 8px 32px 8px rgba(0,0,0,0.35);
  }


  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 20%;
    cursor: pointer;
    gap: 100px;
    justify-content: space-evenly;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 10px 5px;
    
    border-bottom: 1px DOTTED rgba(0, 0, 0, .5);
    position: relative;
  }

  .nameContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scrollcontainer {
    position: absolute;
  }

  .scroll {
    filter:drop-shadow(1px 5px 10px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
    width: 375px;
    height: 110px;
  }

  .cname {
    text-align: center;
    font-family:'lemonpieregular';
    font-size: 2.6rem;
    color: rgb(121,189,154);
    letter-spacing: 1.6px;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
  }

.name {
  z-index: 100;
  width: 50%;
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 10px;
  justify-content: center;
}

.stats-info {
  font-family: 'candy_beansregular';
  font-size: 1.125rem;
  z-index: 200;
  -webkit-text-stroke: 1px;
  position: relative;
  color: #0B486B;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

/* #ffaf8c */

 .sword {
  height: 50px;
  width: 200px;
  position: absolute;
  top: -24px;
  z-index: 0;
  right: -215px;
  filter:drop-shadow(1px 2px 3px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
 }

 .sword:hover {
  filter:drop-shadow(5px 2px 10px rgba(255, 215, 0, .5)) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
 }

 .stats-left {
  
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .stats-right {
  width: 70%;
  justify-content: center;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
 }

 .controls {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,.5);
    align-items: center;
    width: 90%;
    height: 10%;
    justify-content: space-between;
    margin-left: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 3px 5px;
    border-radius: 5px;
    border: 1px solid black;
 }

 #bigVal {
  padding-left: 5px;
  white-space: nowrap;
 }


 .stats-val {
  z-index: 100;
  font-weight: bolder;
  font-size: 1rem;
  font-family: 'candy_beansregular';
  letter-spacing: 2px;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: rgb(7, 255, 255);
 }

 .bigPlayButtonTrue {
  width: 210px;
  height: 90px;
  padding-top: 2px;
  position: absolute;
  transition: height .2s linear;
  transition: width .1s linear;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
 }

 .bigPlayButtonFalse {
  width: 200px;
  height: 70px;
  padding-top: 2px;
  position: absolute;
  transition: height .05s linear;
  transition: width .05s linear;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
 }

 .playButtonHoverFalse {
  width: 120px;
  height: 70px;
  padding-top: 2px;
  position: absolute;
  transition: heigh width 2s;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
           
 }

 .playButtonHoverTrue {
  width: 150px;
  height: 90px;
  padding-top: 2px;
  position: absolute;
  transition: height .2s linear;
  transition: width .1s linear;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
           
 }

 .playButton {
  width: 120px;
  height: 70px;
  padding-top: 2px;
  position: absolute;
  transition: heigh width 2s;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
           
 }

 .playButtonLarge {
  padding-top: 2px;
  position: absolute;
  padding-left: 10px;
  margin-left: 1px;
  filter:drop-shadow(1px 2px 1px black) 
           drop-shadow(-1px -1px 0 rgb(121,189,154));
 }


 .bmo {
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 2px;
  position: absolute;
  top: -3px;
  filter:drop-shadow(1px 2px 3px rgba(216, 211, 211,.3)) 
           drop-shadow(-1px -1px 0 rgba(228, 228, 228, .3));
 }

#floorprice {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.eth {
  color: #1f1d1d;
  filter:drop-shadow(1px 1px 3px rgb(167, 170, 7)) ;
}